<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>learningSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DE6275131E8A3A1C00127C2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE6275271E8A3A1C00127C2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE6275321E8A3A1C00127C2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
